* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfc62;
}

.container {
  /* border: 2px solid grey; */
  margin: 2px 2px;
  padding: 2px 2px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100vh;
  display: flex;
}
.counter {
  border: 5px solid grey;
  background-color: #cece6a;
  width: 600px;
  height: 350px;
  margin: auto;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.counter h1{
    font-size: 3rem;

}
#count{
    font-size: 9rem;
}